.homepage {
    color: $primary;
    .user {
        &-details {
            box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
            border-radius: 15px;
            padding: 20px;
        }
        &-avatar {
            width: 10rem;
            height: 10rem;
        }
        &-icon {
            font-size: 120px;
            color: $primary
        }
    }
}