@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap');

//colors
$white: #FFFFFF;
$black: #000000;
$primary: #003d5d;
$red: #ff0000;

$im: !important;

//font
$font-family: 'Lato', $font-family-base;
$font-vs: 14px;
$font-xs: 16px;
$font-sm: 18px;
$font-md: 20px;
$font-lg: 36px;
$font-xl: 46px;

//font-weight
$font-wt-900: 900;
$font-wt-700: 700;
$font-wt-500: 500;
$font-wt-400: 400;
$font-wt-300: 300;